beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.2
django-heroku==0.3.1
gunicorn==19.7.1
html2text==2018.1.9
idna==2.6
logic==0.2.3
lxml==4.1.1
multipledispatch==0.4.9
nltk==3.2.5
psycopg2==2.7.4
pytz==2018.3
requests==2.18.4
six==1.11.0
textblob==0.15.1
toolz==0.9.0
unification==0.2.2
urllib3==1.22
whitenoise==3.3.1
