.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.bubble {
    display: inline-block;
    height: auto;
    max-width: 50%;
    clear: both;
    /*background-color: #2962FF;
    color: #fff;*/
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    word-wrap: break-word;
}

.sent {
    float: right;
}

.received {
    float: left;
}

.text-bar {
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    padding: 5px 10px;
}

.input-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.input-button {
    margin-left: 5px;
}

/* label underline focus color */
#id_question {
    border-bottom: none!important;
    margin: 0;
}

#id_question:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}
