{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/index.css" %}"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
      <title>Bot</title>
    </head>

    <body>
      <main>
        {% for line in history %}
          <p>{{ line.query }}</p>
          <p>{{ line.response }}</p>
        {% endfor %}
        <div class="row">
          <div class="fixed-bottom col s7 offset-s2">
            <form action="/chat/" method="post">
              {% csrf_token %}
              {{ form }}
            </form>
          </div>
          <div class="fixed-bottom col s1 offset-s9">
            <i class="material-icons md-36">send</i>
            <i class="material-icons md-36">mic</i>
          </div>
        </div>
      </main>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    </body>
  </html>
