{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/chat.css" %}"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/sidebar.css" %}"/>
      <link type="text/css" rel="stylesheet" href="{% static "css/main-offset.css" %}"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
      <title>Bot</title>
    </head>

    <body>
      {% include "sidebar.html" %}

      <main>
        <!-- Question history -->
        <div class="row history">
          <div id="chat-history" class="col s10 offset-s1">

            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
            <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/chat.js" %}"></script>
            <script type="text/javascript" src="{% static "js/sidebar.js" %}"></script>

            {% for query_response in history %}
            <div class="bubble sent {% include 'colour-scheme-primary.html' %} tooltipped"
              data-position="right" data-delay="50" data-tooltip="{{ query_response.query.created_at }}" >
              <span class="{% if colour_scheme == 'light' %} black-text
              {% else %} white-text {% endif %}">{{ query_response.query.question }}</span>
            </div>

            <script>
              var data = JSON.parse('{{ query_response.response | escapejs }}');
              var colour = '{{ colour_scheme | escapejs }}';
              appendReply(data, colour, true, false);
            </script>
            {% endfor %}

          </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Help:</h4>
            <h5>Using Aeora:</h5>
            <p>To start using Aeora, simply input a question in the box at the bottom of your screen, the bot will then respond accordingly.</p>

            <h6>Voice Input</h6>
              Click the microphone button and start speaking.
              The microphone will flash, showing that it is listening for input.
              Once finished, the voice message will automatically send and the bot will respond.

            <h5>Questions you may ask:</h5>

            <p>Aeora can provide answers to queries on the FTSE 100 such as:
              <ul>
                <li>“What is the current spot price for 3i Group?”</li>
                <li>“What is the current trading volume for Carnival?”</li>
                <li>“What is the percentage change in BP since the market opened?”</li>
              </ul>
            <p>Aeora also provides access to financial news digests and allows users to ask questions on this, such as: </p>
              <ul>
                <li>“Is there news on General Retailers this morning?”</li>
                <li>“Are Oil and Gas Producers in the news?”</li>
                <li> “Is the news on Royal Dutch Shell positive or negative?”</li>
              </ul>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
          </div>
        </div>
      </main>

      <footer class="fixed-bottom">
        <!-- Text input -->
        <div class="row">
          <div class="col s10 offset-s1 text-bar z-depth-2 hoverable white">
            <div class="col s12">
            <form id="ask-question" action="/chat/" method="post">
              {% csrf_token %}
              <div class="col s6 md11 l9">
                {{ form }}
              </div>
              <div class="col s6 md1 l3 input-buttons-container">
                <a id="send-text" class="btn-floating waves-effect waves-light red input-button"><i class="material-icons md-24">send</i></a>
                <a id="send-voice" class="btn-floating waves-effect waves-light red input-button"><i class="material-icons md-24">mic</i></a>
              </div>
            </form>
            </div>
          </div>
        </div>
      </footer>

    </body>
  </html>
