<!-- Sidebar for mobile -->
<ul id="slide-out" class="side-nav fixed indigo lighten-1">
  <li class="indigo sidebar-section sidebar-status-section"><a class="waves-effect green-text sidebar-status" href="#!"><i class="material-icons green-text">check_circle</i>Operational</a></li>
  <li><div class="divider sidebar-divider indigo"></div></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons">chat</i>Chat</a></li>
  <li class="sidebar-section"><a class="waves-effect" href="#!"><i class="material-icons">star_rate</i>My Interests</a></li>
  <li><div class="divider sidebar-divider indigo"></div></li>
  <li><a class="waves-effect" href="#!"><i class="material-icons">help</i>Help</a></li>
  <li><a class="waves-effect" href="/settings"><i class="material-icons">settings</i>Settings</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>