<!-- Sidebar for mobile -->
<ul id="slide-out" class="side-nav fixed {% include 'colour-scheme-secondary.html' %}">
  <li class="{% include 'colour-scheme-primary.html' %} sidebar-section sidebar-status-section">
    <a class="waves-effect green-text sidebar-status modal-trigger" href="#status-modal">
      <i class="material-icons green-text">check_circle</i>Operational</a>
  </li>
  <li><div class="divider sidebar-divider {% include 'colour-scheme-primary.html' %}"></div></li>
  <li><a class="waves-effect" href="/chat"><i class="material-icons">chat</i>Chat</a></li>
  <li class="sidebar-section"><a class="waves-effect" href="#!"><i class="material-icons">star_rate</i>My Interests</a></li>
  <li><div class="divider sidebar-divider {% include 'colour-scheme-primary.html' %}"></div></li>
  <li>
  <!-- Modal Trigger -->
  	<a class="waves-effect modal-trigger" href="#help-modal"><i class="material-icons">help</i>Help</a>
  </li>
  <li><a class="waves-effect" href="/settings"><i class="material-icons">settings</i>Settings</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
