<!-- Modal Structure -->
<div id="status-modal" class="modal">
  <div class="modal-content">
    <p class="flow-text">The system is online and the components are functional.</p>
    <ul>
      <li><i class="material-icons green-text">check_circle</i><span class="flow-text"><strong> London Stock Exchange</strong></span></li>
      <li><i class="material-icons green-text">check_circle</i><span class="flow-text"><strong> Dialogflow</strong></span></li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
